useDynLib(baysc, .registration=TRUE)
import(Rcpp)import(methods)
import(RcppArmadillo)
importFrom(Rcpp, evalCpp)
importFrom(rstan, sampling)
importFrom(RcppTN, rtn)
importFrom(stats, as.formula, model.matrix, terms, median, pnorm, quantile)
importFrom(magrittr, "%>%")
importFrom(rlang, .data)
export("%>%")
exportPattern("^[[:alpha:]]+")